.container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  height: 190px;
  width: calc(50% - 20px);
  margin: 10px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  /* background-image: url(../img/bird.webp), url(../img/cat.webp),
    url(../img/dog.webp), url(../img/turtle.webp);
  background-position: center, bottom, left;
  background-repeat: no-repeat, repeat-x, no-repeat, repeat; */
}
.box:first-child {
  background-image: url(../img/bird.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-color: purple;
}
.box:nth-child(2) {
  background-image: url(../img/cat.webp);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: teal;
}
.box:nth-child(3) {
  background-image: url(../img/dog.webp);
  background-position: left;
  background-repeat: repeat-y;
  background-color: skyblue;
}
.box:last-child {
  background-image: url(../img/turtle.webp);
  background-repeat: repeat;
  background-color: rgb(0, 68, 255);
}
